
.color {
    background-color: lightpink;
    
}

.cc {
    background-color: mediumvioletred;
}



.btn-lg {
    color: white;
    border-color: grey;
    background-color: pink;
}
.jj {
    background-color: mediumvioletred;
}